@model BlogMVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@section styles{
    <style>
        .container {
            border-radius: 5px;
            margin: auto;
            background-color: white;
        }

        .chkbox {
            display: flex;
            align-items: baseline;
        }

        .loginh4 {
            padding-top: 50px;
            margin-top: 0px
        }
    </style>
}
<div class="container" ;>

    <section class="row narrow section-intro add-bottom text-center" id="">
        @using (Html.BeginForm("ChangePassword", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h4 class="loginh4">Change your password.</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div>
                @Html.LabelFor(m => m.OldPassword)
                <div>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "full-width" })
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.NewPassword)
                <div>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "full-width" })
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "full-width" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
            @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
        }
    </section>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}