@using PagedList.Mvc;
@model PagedList.IPagedList<BlogMVC.Models.Article>

@{
    ViewBag.Title = "Home Page";
}
@section welcome{
    <div class="pageheader-content row">
        <div class="col-full">

            <div class="featured">

                @foreach (var item in Model.OrderByDescending(x => x.Likes.Count()).Take(1).ToList())
                {
                    <div class="featured__column featured__column--big">
                        @if (!string.IsNullOrEmpty(item.PhotoPath))
                        {
                            <div class="entry" style="background-image: url('@Url.Content(item.PhotoPath).Replace(@"\","/")')">

                                <div class="entry__content">
                                    <span class="entry__category">
                                        @foreach (var category in item.Categories.Take(1))
                                        {
                                            @Html.ActionLink(category.Name, "Index", "Category", new { categoryName = category.Name }, null)
                                        }
                                    </span>

                                    <h1><a href="@Url.Action("Index", "Article", new { id = item.Id })" title="">@item.Title</a></h1>

                                    <div class="entry__info">
                                        <a href="#0" class="entry__profile-pic">
                                            <img class="avatar" src="~/images/avatars/user-03.jpg" alt="">
                                        </a>

                                        <ul class="entry__meta">
                                            <li><a href="#0">@item.ApplicationUser.NickName</a></li>
                                            <li>@item.ArticleTime.Value.ToString("dddd, dd MMMM yyyy")</li>
                                        </ul>
                                    </div>
                                </div> <!-- end entry__content -->

                            </div> <!-- end entry -->
                        }
                    </div> <!-- end featured__big -->
                }
                <div class="featured__column featured__column--small">
                    @foreach (var item in Model.OrderByDescending(x => x.Likes.Count()).Skip(1).Take(2).ToList())

                    {

                        <div class="entry" style="background-image:url('@Url.Content(item.PhotoPath).Replace(@"\","/")">

                            <div class="entry__content">
                                <span class="entry__category">
                                    @foreach (var category in item.Categories.Take(1))
                                    {
                                        @Html.ActionLink(category.Name, "Index", "Category", new { categoryName = category.Name }, null)
                                    }
                                </span>

                                <h1><a href="@Url.Action("Index", "Article", new { id = item.Id })" title="">@item.Title</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="'~/images/avatars/user-03.jpg" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">@item.ApplicationUser.NickName</a></li>
                                        <li>@item.ArticleTime.Value.ToString("dddd, dd MMMM yyyy")</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->

                    }


                </div> <!-- end featured__small -->
            </div> <!-- end featured --> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>
}
<section class="s-content">
    <div class="row masonry-wrap">
        <div class="masonry" id="masonry">

            @foreach (var article in Model)
            {
                <article class="masonry__brick entry format-standard" data-aos="fade-up" data-string="@article.Title">

                    @if (!string.IsNullOrEmpty(article.PhotoPath))
                    {
                        <div class="entry__thumb">
                            <a href="@Url.Action("Index", "Article", new { id = article.Id })" class="entry__thumb-link">
                                <img src="@article.PhotoPath" alt="@article.Title">
                            </a>
                        </div>
                    }

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="single-standard.html">@article.ArticleTime.Value.ToString("dddd, MMMM d, yyyy")</a>
                            </div>
                            <h1 class="entry__title"><a href="@Url.Action("Index", "Article", new { id = article.Id })">@article.Title</a></h1>
                        </div>
                        <div class="entry__excerpt" style="max-height:300px; overflow:hidden">
                            @Html.Raw(article.Summary)
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                @foreach (var item in article.Categories)
                                {
                                    @Html.ActionLink(item.Name, "Index", "Category", new { categoryName = item.Name }, null)
                                }
                            </span>
                        </div>
                    </div>

                </article> <!-- end article -->
            }
        </div> <!-- end masonry -->
    </div> <!-- end masonry-wrap -->
    <div class="row">
        <div class="col-full">
            <nav class="pgn">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", "Home", new { page }))
            </nav>
        </div>
    </div>
</section>



@section extraS {
    <section class="s-extra">

        <div class="row top">

            <div class="col-eight md-six tab-full popular">
                <h3>Popular Posts</h3>

                @Html.Action("PopularPostPartial")
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full about">
                <h3>About Philosophy</h3>

                <p>
                    Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.
                </p>

                <ul class="about__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->
            </div> <!-- end about -->

        </div> <!-- end row -->
    </section>
}


